# Ignore development docs
/doc/
.vscode/
.idea/
.venv/
pyproject.toml

# ignore agent
.agent/
.agents/
.claude/
skills-lock.json
CLAUDE.md

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Tests
tests/
pytest.ini

# Ignore md
REFACTOR_PLAN.md
CONTRIBUTING.md
qols.zip
qols_v1.zip
*.zip
